.SeriesItem {
    width: 80%;
    margin: 10px 5px;
}

.SeriesItem a {
    text-decoration: none;
}

.ImageContainer {
    cursor: pointer;
    height: 220px;
    width: 100%;
    display: inline-block;
}

.SeriesImage {
    margin: 5px 0;
}

.SeriesName {
    height: 50px;
}

.Rating {
    display: flex;
    align-items: flex-start;
    width: 20%;
    margin-bottom: 5px;
}

.Card {
    height: 360px;
}

@media (min-width: 360px) {
    .SeriesItem {
        width: 46%;
    }

    .SeriesImage {
        max-width: 140px;
    }
}

@media (min-width: 480px) {
    .SeriesItem {
        width: 45%;
    }

    .SeriesImage {
        width: auto;
    }
}


@media (min-width: 768px) {
    .SeriesItem {
        width: 40%;
    }

    .SeriesImage {
        width: 154px;
    }
}

@media (min-width: 1024px) {
    .SeriesItem {
        width: 31%;
    }

    .SeriesImage {
        width: 180px;
    }
}

@media (min-width: 1450px) {
    .SeriesItem {
        width: 22%;
    }

    .SeriesImage {
        width: auto;
    }
}