.Filters {
    margin: 0 5px;
    grid-area: fl;
    z-index: 90;
    padding: 10px 10px;
    background-color: silver;
    border-radius: 20px;
    border: solid 1px silver;
    box-shadow: 1px 1px 7px silver;
}

.ButtonsRight {
    width: 80px;
    float: right;
    display: flex;
    flex-flow: row-reverse nowrap;
}

.ButtonsLeft {
    width: 40px;
    float: left;
    display: flex;
    flex-flow: row nowrap;
}

.Tags {
    padding-left: 10px;
    height: 100%;
    width: calc(100% - 140px);
    float: left;
}

.Tags::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.Tags::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
