.SeriesInfo {
    grid-area: si;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, 60px);
    grid-template-areas:
            "im im st st st st st st st st"
            "im im . . ab ab ab ab . ra"
            "im im ot ot . . . . . ."
            "im im so so so so so so so so"
            "im im so so so so so so so so"
}

.Loader {
    top: 65px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.BackGround {
    content: '';
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: 100% 100%;
    background-blend-mode: darken;
    opacity: 0.8;
    top: 1px;
    left: 1px;
    bottom: 0;
    right: 1px;
    position: absolute;
    z-index: -1;
}

.SeriesImage {
    grid-area: im;
    border-radius: 5%;
    border: solid 1px silver;
    box-shadow: 1px 1px 7px silver;
    width: 90%;
    max-width: 154px;
    height: 75%;
    margin: auto;
}

.SeriesTitle {
    grid-area: st;
    margin: auto 10px;
    color: #fff;
    text-shadow: 2px 2px black;
}

.SeriesTitle h2{
    margin: 2px auto;
}

.SeriesTitle article {
    font-size: 12px;
    font-style: italic;
}

.OverviewTitle {
    grid-area: ot;
    margin-left: 10px;
    color: #fff;
    font-weight: bold;
}

.Overview {
    grid-area: so;
    margin-left: 10px;
    margin-top: -20px;
    color: #fff;
    font-size: 13px;
    text-shadow: 1px 1px black;
    overflow-y: scroll;
    scrollbar-color: white;
    -ms-overflow-style: none;
}

.ActionButtons {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    grid-area: ab;
}

.ActionButtons span button{
    background-color: #3e0e8b;
    border-radius: 10px;
    border: solid 1px silver;
    box-shadow: 1px 1px 7px silver;
    padding: 10px;
    margin: 0 10px;
    color: white;
}

.ActionButtons span button:hover {
    cursor: pointer;
    background-color: rgba(62, 14, 139, 0.4);
}

.Rating {
    grid-area: ra;
    width: 85%;
    max-height: 55px;
    margin: auto;
}

/******************   Scroll Bar  *********************/
.Overview::-webkit-scrollbar {
    width: 5px;
}

.Overview::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bab9b9;
    height: 10px;
}

/********************  Responsive  ********************/
@media (max-width: 599px) {
    .SeriesInfo {
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(7, 60px);
        grid-template-areas:
                "st st st st st st st st st st"
                "st st st st st st st st st st"
                "ab ab ab ab ab ab im im im im"
                ". . . . . . im im im im "
                "ot ot . . ra ra im im im im "
                "so so so so so so so so so so"
                "so so so so so so so so so so"
    }

    .Rating {
        margin-top: -35px;
    }

    .SeriesImage {
        margin-top: 0;
        height: 95%;
    }

    .OverviewTitle {
        margin-top: 10px;
    }

    .Overview {
        height: 85%;
        margin-top: 0;
    }
}