.SeriesDetails {
    grid-area: mn;
    min-width: 0;
    min-height: 0;
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 60px);
    grid-template-areas:
            "si si si si si si si si si si"
            "si si si si si si si si si si"
            "si si si si si si si si si si"
            "si si si si si si si si si si"
            "si si si si si si si si si si"
            "ss ss ss ss ss ss ss ss ss ss"
            "se se se se se se se se se se"
            "se se se se se se se se se se"
            "se se se se se se se se se se"
            "se se se se se se se se se se"
}

/********************  Responsive  ********************/
@media (max-width: 1280px) {
    .SeriesDetails {
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10, 60px);
        grid-template-areas:
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "ss ss ss ss ss ss ss ss ss ss"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
    }
}

@media (max-width: 768px) {
    .SeriesDetails {
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(13, 60px);
        grid-template-areas:
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "ss ss ss ss ss ss ss ss ss ss"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
    }
}

@media (max-width: 599px) {
    .SeriesDetails {
        width: 98%;
        margin: 0 auto;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(13, 60px);
        grid-template-areas:
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "si si si si si si si si si si"
                "ss ss ss ss ss ss ss ss ss ss"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
                "se se se se se se se se se se"
    }
}

/******************   Scroll Bar  *********************/
.SeriesDetails::-webkit-scrollbar {
    display: none;
}