.CellContent {
    padding: 0 12px;
    min-width: 30px;
    max-height: 100px;
    overflow-y: scroll;
}

.CollapseButton {
    float: right;
}

.CellContent::-webkit-scrollbar {
    width: 5px;
}

.CellContent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bab9b9;
    height: 10px;
}