.EpisodesTable {
    background-color: rgba(62, 14, 139, 0.1);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 50px;
    border: solid 1px rgba(62, 14, 139, 0.1);
    box-shadow: 5px 2px 5px 5px rgba(62, 14, 139, 0.1);
}

.CellContent {
    padding: 0 6px;
    min-width: 30px;
    max-height: 50px;
}

@media
only screen
and (max-width: 599px), (min-device-width: 100px)
and (max-device-width: 599px)  {
    td:before { content : attr(data-label) }

    .EpisodesTable {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}