.Header {
    grid-area: hd;
    height: 65px;
    width: 100%;
    background-color: #3e0e8b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Header nav {
    height: 100%;
}

.Logo {
    height: 80%;
}