.SeriesList {
    grid-area: mn;
    height: 100%;
    text-align: center;
}

.ScrollArea {
    min-height: calc(101vh - 65px);
}

.ScrollArea ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-items: flex-start;
}
