.Content, .ContentNoFilters {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: row dense;
    position: absolute;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: [hd-start]65px [fl-start]60px [mn-start]auto [ft-start]40px [last-row];
    grid-template-areas:
            "hd hd hd hd hd hd hd hd hd hd"
            ". . fl fl fl fl fl fl . ."
            ". . . . . . . . . ."
            "ft ft ft ft ft ft ft ft ft ft"
}

.ContentNoFilters {
    position: absolute;
    grid-template-rows: [hd-start]65px [mn-start]auto [ft-start]40px [last-row];
    grid-template-areas:
        "hd hd hd hd hd hd hd hd hd hd"
        ". . . . . . . . . ."
        "ft ft ft ft ft ft ft ft ft ft"
}

.MainLayout {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    display: grid;
    grid-row-start: hd-start;
    grid-row-end: last-row;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-template-rows: 65px auto;
    grid-template-areas:
            "."
            "mn"
}

@media (max-width: 1280px) {
    .Content {
        position: absolute;
        grid-template-rows: [hd-start]65px [fl-start]60px [mn-start]auto [ft-start]40px [last-row];
        grid-template-areas:
                "hd hd hd hd hd hd hd hd hd hd"
                ". fl fl fl fl fl fl fl fl ."
                ". . . . . . . . . ."
                "ft ft ft ft ft ft ft ft ft ft"
    }

    .ContentNoFilters{
        position: absolute;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: [hd-start]65px [mn-start]auto [ft-start]40px [last-row];
        grid-template-areas:
                "hd hd hd hd hd hd hd hd hd hd"
                ". . . . . . . . . ."
                "ft ft ft ft ft ft ft ft ft ft"
    }

    .MainLayout {
        grid-column-start: 2;
        grid-column-end: 10;
    }
}


@media (max-width: 768px) {
    .Content {
        position: absolute;
        grid-template-rows: [hd-start]65px [fl-start]60px [mn-start]auto [ft-start]40px [last-row];
        grid-template-areas:
            "hd hd hd hd hd hd hd hd hd hd"
            "fl fl fl fl fl fl fl fl fl fl"
            ". . . . . . . . . ."
            "ft ft ft ft ft ft ft ft ft ft"
    }

    .ContentNoFilters {
        position: absolute;
        grid-template-rows: [hd-start]65px [mn-start]auto [ft-start]40px [last-row];
        grid-template-areas:
                "hd hd hd hd hd hd hd hd hd hd"
                ". . . . . . . . . ."
                "ft ft ft ft ft ft ft ft ft ft"
    }

    .MainLayout {
        grid-column-start: 1;
        grid-column-end: 11;
    }
}

@media (max-width: 400px) {
    .Content {
        position: absolute;
        margin-bottom: 0;
        grid-template-rows: [hd-start]65px [fl-start]60px [mn-start]auto [ft-start]40px [last-row];
        grid-template-areas:
                "hd hd hd hd hd hd hd hd hd hd"
                "fl fl fl fl fl fl fl fl fl fl"
                ". . . . . . . . . ."
                "ft ft ft ft ft ft ft ft ft ft"
    }

    .ContentNoFilters {
        position: absolute;
        grid-template-rows: [hd-start]65px [mn-start]auto [ft-start]40px [last-row];
        grid-template-areas:
                "hd hd hd hd hd hd hd hd hd hd"
                ". . . . . . . . . ."
                "ft ft ft ft ft ft ft ft ft ft"
    }

    .MainLayout {
        grid-column-start: 1;
        grid-column-end: 11;
    }
}

/******************   Scroll Bar  *********************/
.MainLayout::-webkit-scrollbar, .Content::-webkit-scrollbar, .ContentNoFilters::-webkit-scrollbar {
    display: none;
}