.FormElementBlock {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

.FormElement {
    outline: none;
    border: 1px solid dimgrey;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.FormElement:focus {
    outline: none;
    background-color: #ccc;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}